@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'open sans', sans-serif;
    font-size: 12pt;
    background: url(../images/bg.jpg);
    background-size: cover;
}

main {
    background-color: rgba(255, 255, 255, .75);
    margin: 50px auto;
    box-shadow: 0 2px 2px 4px rgba(0, 0, 0, .15);
    padding: 8px;
    width: 800px;
    font-size: 20pt;

    ul#tasks {
        li {
            list-style-type: none;
            display: flex;
            align-items: center;

            &:hover {
                background-color: rgba(120, 120, 120, 0.15);
            }

            &.done {
                label {
                    text-decoration: line-through;
                    color: #999;
                }
            }

            label, div {
                flex: 1;
            }

            button {
                padding: 0;
                margin: 0;
                width: 24px;
                height: 24px;
                border: none;
                border-radius: 10px;
                &.edit {
                    background-color: rgb(0, 120, 0);
                    margin-right: 4px;
                }

                &.delete {
                    background-color: rgb(120, 0, 0);
                }
                color: white;
            }
        }
    }

    form {
        display: flex;
        border-top: 1px solid #bbb;
        padding-top: 8px;
        input[type=text] {
            flex: 1;
            font-family: 'open sans', sans-serif;
            font-size: 20pt;
            margin-right: 10px;
        }

        input[type=submit] {
            margin-left: auto;
            font-size: 16pt;
            background-color: #0c4387;
            color: white;
            border-radius: 16px;
            border: none;
            font-weight: bold;
        }
    }
}
